*
{
  font-family: Arial, Helvetica, sans-serif;
}
h1 
{
 color: rgb(31, 5, 75);
 margin-left: 50px;
}
agit
{
  color: blue;
}
body
{
  background-color: rgb(232, 187, 238);
  margin-left: 50px;
}
div
{
   width: 800px;
   height: 1080px;
   border: 1px solid black;
   margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
   background-color: white

}
.chapter
{
 font-size: 14pt;
 color: rgb(4, 4, 102);
 font-weight: 600;
 margin-left: 50px;
 margin-bottom: 5px;
}

.name
{
    font-size: 13pt;
    color: rgb(7, 7, 7);
    font-weight: 600;
    margin-left: 100px; 
    margin-bottom: 5px;
    margin-top: 5px;
}

.dates
{
    font-size: 10pt;
    color: rgb(7, 7, 7);
    margin-left: 100px; 
    margin-top: 1px;
    margin-bottom: 1px;
}


.description
{
    font-size: 13pt;
    color: rgb(7, 7, 7);
    margin-left: 140px;
    margin-right: 30px; 
    margin-top: 5px;
    
}
.name1
{
    font-size: 13pt;
    color: rgb(7, 7, 7);
    margin-left: 100px; 
    margin-bottom: 5px;
    margin-top: 5px;
}

li
{
  font-size: 13pt;
    color: rgb(7, 7, 7);
    margin-left: 70px; 
    margin-bottom: 5px;
    margin-top: 5px;
}
